
body {
    background: -webkit-linear-gradient(90deg, #e5b2a9, #ddd1c5, #d1dbad, #92ad76);
    background: linear-gradient(90deg, #e5b2a9, #ddd1c5, #d1dbad, #92ad76);
    font-family: sans-serif;
    border-radius: 30px;
}

.wrapper {
    max-width: 100%;
    padding-left: 500px;
    padding-right: 400px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: #72975d;

}

.header {
    background-color: #72975d;
    height: 60px;
}

.header2 {
    background-color: #f8f8f8;
    height: 60px;
}
.main_page_title {
    font: 600 30px/1 "Open Sans";
    text-transform: uppercase;
    text-align: center;
    color: #353535;
}
.additional-title-text{
    font: 600 30px/1 "Open Sans";
   
    text-align: center;
    color: #353535;
}
.cart{
    padding-top: 30px;
}

.main_page_articles {
 
    margin: auto;
    padding: 0 40px 46px;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    color: #38322f;
    text-decoration: underline;

}

.invitation{
    
    text-align: center;
}
.grid{
  
    display: grid;
    grid-template-columns: repeat(2, 740px);
    justify-content: center;
    margin: 70px;
}
.text1{
    font-size: 30px;
    color:#d1dbad;
}
.text1>a{
    padding-left: 100px;
    color:#291d15;
}
.deviz{
    padding-top: 50px;
    text-align: center;
    font-size: 30px;
    
}
section{
    padding-top:40px;
}
section>img{
    padding-top:40px;
    border-radius: 50px;
}
