

body {
    background: -webkit-linear-gradient(90deg, #e5b2a9, #ddd1c5, #d1dbad, #92ad76);
    background: linear-gradient(90deg, #e5b2a9, #ddd1c5, #d1dbad, #92ad76);
    font-family: sans-serif;
    border-radius: 30px;
}
.logo{
    background: url(../img/logo.png);
    width: 1000px;
}
.wrapper {
    max-width: 100%;
    padding-left: 500px;
    padding-right: 400px;
    margin-left: auto;
    margin-right: auto;
}


.navbar {
    background-color: #72975d;

}
.bg-green{
    background-color: #dee4cb ;
}
.header {
    background-color: #72975d;
    height: 60px;
}

.header2 {
    background-color: #dee4cb;
    height: 60px;
}
.main_page_title {
    font-size: 43px;
    text-transform: uppercase;
    text-align: center;
    color: #353535;
}
.additional-title-text{
    font: 600 30px/1 "Open Sans";
   
    text-align: center;
    color: #353535;
}
.cart{
    padding-top: 30px;
}

.main_page_articles {
 
    margin: auto;
    padding: 0 40px 46px;
    text-align: center;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

a {
    color: #38322f;
    text-decoration: none;

}

.deviz{
    font-size: 20px;
    text-align: center;
}

.text1{
    font-size: 30px;
    color:#d1dbad;
}
.text1>a{
    padding-left: 100px;
    color:#291d15;
}

section{
    padding-top:40px;
}
section>img{
    padding-top:40px;
    border-radius: 50px;
}
.advance{
    padding-left: 190px;
    color: #ffff;
}

.row{
    width: 700px;
    height: 680px;
    margin-top: 50px;
    margin-left: 650px;
    background-color: #72975d;
    border-radius: 40px;

}
.col-md-3{
    margin-top: -90px;
    margin-left: 260px;
}
.col-12{
    margin-top: -100px;
    margin-left: 300px;
}
footer{
    background-color: #3a4e2f;
    width: 1902px;
    height: 300px;
    word-spacing: 10 px;
    margin-top: 60px;
}
.niz{
   margin-left: 150px;
   word-spacing: 20px;
}
.niz>a>.ot{
    color: #d1dbad;
    font-size: 25px;
    
}
.niz>a{
    color: #d1dbad;
    font-size: 25px;
    
}

.contact{
    font-size:40px;
    padding-left: 1400px;
    padding-top: 30px;
    color: #ffffff;
    
}
.o1{
    width: 950px;
    height: 220px;
    padding-top: 20px;
    bottom: 20px;
    right: 20px;
    background-color:#cf7e70;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

}
.o11{
    padding-top: 10px;
}
.o2{
    margin-top: 30px;
    width: 950px;
    height:170px;
    padding-top: 20px;
    bottom: 20px;
    right: 20px;
    background-color:#467c54;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

}
.o22{
    padding-top: 10px;
}
.o3{
    margin-top: 30px;
    width: 950px;
    height:170px;
    padding-top: 20px;
    bottom: 20px;
    right: 20px;
    background-color:#cf7e70;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

}
.o33{
    padding-top: 10px;
}


